* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url("https://i.pinimg.com/originals/56/ee/7f/56ee7f155e22cd1394616e0d4ef8a98d.jpg");
    background-position: center center;
    background-size: cover;
}

.scrollBtn {
    border-radius: 50%;
    font-size: 2.2rem;
    background-color: rgb(255, 255, 255);
    color: #ff5800;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 38%;
    right: 5%;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

.header {
    background-image: linear-gradient(180deg, #ff590069, #b43c1469);
    height: 800px;
}

.navbar-area {
    width: 100%;
    background: rgba(255, 255, 255, 0.950);
}

.navbar-area.fixed {
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.950);
}

.navbar-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.navbar-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ff5800;
    text-decoration: none;
}

.navbar-logo i {
    color: #ff5800;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar ul li a {
    color: #ff5800;
    font-weight: bold;
    text-shadow: #444;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    background: #ff5900;
    color: white;
}

.navbar ul li a:focus {
    background: #ff5900c4;
    color: white;
}

.navbar ul li ul {
    display: none;
    visibility: hidden;
    position: absolute;
}

.navbar ul li ul li ul {
    display: none;
    visibility: hidden;
    position: absolute;
    left: 14.95em;
    top: 1em;
}

.navbar li:hover>ul {
    display: block;
    visibility: visible;
    background: rgba(255, 255, 255, 0.825);
}

.nav-toggler {
    border: 3px solid #ff5900;
    border-radius: 2px;
    padding: 5px;
    background-color: #ff5900;
    cursor: pointer;
    height: 39px;
    display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}

.intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.forms-container {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
}

.forms-frame {
    height: 575px;
    width: 430px;
    background: linear-gradient( #ff5800, #b43c14);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .5s ease;
}

.forms-nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
}

.forms-nav .btn {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #ffffff;
    transition: all .25s ease;
    cursor: default;
}

.form-field {
    display: column;
    flex-wrap: wrap;
    justify-content: left;
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    transition: opacity .5s ease, transform .5s ease;
    border: none;
}

.form-field .form-label {
    color: rgb(255, 255, 255, .9);
    float: left;
    font-weight: 500;
    font-size: 13px;
    padding-left: 15px;
    display: block;
}

.form-input-style {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
}

input[type="date" i],
input[type="number" i],
input[type="text" i],
input[type="password" i] {
    color: #ffffff;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: #b43c14;
}

.form-field-radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
}

.form-field-radio input {
    margin-right: 4px;
    margin-top: 3px;
}

.form-field-radio label {
    font-weight: 500;
    color: rgb(255, 255, 255, .9);
    margin-right: 0.9em;
    text-align: center;
}

.submit-btn {
    border-radius: 20px;
    background-color: #ffffff;
    color: #ff5800;
    font-weight: 740;
    cursor: pointer;
    border: none;
    padding: 0.625rem 0.9375rem;
    margin-top: 1rem;
}

.submit-btn-border {
    display: block;
    margin: auto;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    border-radius: 20px;
    background: #ff5800;
    padding: 0.625rem 0.9375rem;
    margin-top: -2.42rem;
    height: 42px;
    width: 132px;
}

.submit-btn:hover {
    background-color: #ff5800;
    color: #ffffffd0;
    transition: color .2s ease .1s, background-color .2s ease .1s, transform .2s ease .1s;
    transform: scale(1.1);
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.74);
    color: #ff5800;
    font-weight: bold;
    text-shadow: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.footer-section {
    background-image: linear-gradient(180deg, #ffffffb9, #ffffff);
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-item ul {
    display: column;
}

.footer-item ul li {
    list-style-type: none;
}

.footer-item ul li a {
    text-shadow: gray;
    color: #ff5800;
    text-decoration: none;
}

.footer-item ul li p {
    text-shadow: gray;
    color: #ff5800;
    text-decoration: none;
}

.footer-item {
    padding: 1.25rem;
}

.footer-title {
    color: #ff5800;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
}

.footer-social li {
    padding: 0.50rem;
    font-size: 1.4rem;
}

.footer-middle {
    background-color: #ff5800;
    color: white;
}

.footer-middle ul {
    padding: 0.50rem;
    display: flex;
    justify-content: center;
}

.footer-middle li {
    padding: 1.0rem 0.8rem;
    list-style: none;
}

.footer-middle li a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffff;
}

.footer-middle li a:hover,
.footer-item ul li a:hover {
    color: #000000;
    text-shadow: none;
}

.footer-copyright {
    background-image: linear-gradient(180deg, #ff5800, #b43c14);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding: 0.5rem 1.0rem;
}

.footer-copyright p {
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 720px;
    }
    .navbar-container {
        max-width: 720px;
    }
    .nav-toggler {
        display: block;
    }
    .navbar {
        min-height: 60px;
    }
    .navbar ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, .75);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .navbar ul li {
        width: 100%;
        text-align: center;
    }
    .navbar ul li a {
        padding: 25px;
    }
    .navbar ul li a:hover {
        background-color: rgba(255, 255, 255, .1);
    }
    .navbar ul li ul {
        visibility: visible;
    }
    .navbar ul.open {
        max-height: 100vh;
        overflow: visible;
    }
    .footer-section {
        flex-direction: column;
        max-width: 720px;
    }
    .footer-middle {
        padding: 2em;
    }
}